<div class="relative">
  <div class="flex flex-col items-center justify-center w-screen h-screen bg-center bg-cover" style="background-image: url('<%= asset_path(@background_image) %>');">
    <div class="absolute top-0 left-0 m-4">
      <span id="timeDisplay" class="font-mono text-white text-md"><%= Time.now.strftime('%H:%M') %></span>
    </div>
    <div class="absolute top-0 right-0 m-4">
    <%= link_to "ENTER", "/images", class: "font-mono text-white text-md" %>
    </div>
    <div class="flex items-center justify-center">
      <img src="<%= asset_path('cinefiles_logo.png') %>" alt="Logo" style="max-width: 90%; max-height: 90%;">
    </div>
    <div class="text-center">
      <p class="font-mono text-white text-md">A STUDIO 135 PROJECT.<br>CINEFILES IS A CREATIVE RESOURCE TO BE USED FOR INSPIRATION, PROJECTS, CURIOSITY, ETC ETC. <br>CAREFULLY CURATED BY APPAS PARENTS.</p>
    </div>
    <div class="absolute bottom-0 left-0 m-4">
    <%= link_to "LOGIN", "/login", class: "font-mono text-white text-md" %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'current_time' %>
