<%= form_for @image, html: { multipart: true } do |f| %>
  <div class="mb-4">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-input' %>
  </div>

  <div class="mb-4">
    <%= f.label :year %>
    <%= f.number_field :year, class: 'form-input' %>
  </div>

  <div class="mb-4">
    <%= f.label :director %>
    <%= f.text_field :director, class: 'form-input' %>
  </div>

  <div class="mb-4">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-input' %>
  </div>

  <div class="mb-4">
    <%= f.submit "Upload Image", class: 'btn' %>
  </div>
<% end %>
